@import "./reset.css";

@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir.eot") format("eot"), url("../fonts/vazir.ttf") format("truetype"), url("../fonts/vazir.woff") format("woff"), url("../fonts/vazir.woff2") format("woff2");
}

body {
    font-family: "vazir";
    direction: rtl;
    overflow-x: hidden;
}

.container {
    width: 1700px;
    margin: auto;
    padding: 0 15px;
}

/*Header*/
header {
    width: 100%;
}

header nav {
    width: 100%;
    height: 70px;
    display: flex;
}

header nav .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
}

header nav .navbar-right {
    display: flex;
}

header nav .navbar-right ul {
    display: flex;
}

header nav .navbar-right ul li {
    margin: 0 10px;
}

header nav .navbar-right ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

header nav .navbar-left {
    display: flex;
    align-items: center;
}

header nav .navbar-left ul {
    display: flex;
    margin-left: 50px;
}

header nav .navbar-left ul li {
    margin: 0 10px;
}

header nav .navbar-left ul li a svg {
    font-size: 20px;
    color: #000;
}

header #slide {
    background-image: url("../images/slide.jpg");
    background-size: cover;
    width: 100%;
    height: 900px;
    display: flex;
}

header #slide .slider {
    width: 100%;
    height: 900px;
    position: relative;
}

header #slide .slider span {
    position: absolute;
    left: 37%;
    top: 30%;
    font-size: 140px;
    color: #e2e2e2;
    font-family: Arial;
    font-weight: bold;
}

header #slide .slider .slide-description {
    position: absolute;
    left: 0%;
    top: 35%;
}

header #slide .slider .slide-description h1 {
    font-size: 120px;
    margin-right: 300px;
    margin-top: 30px;
    color: #505050;
}

header #slide .slider .slide-description h2 {
    font-size: 90px;
    color: #222222;
}

/*Hanging Lamp*/
#hanging-lamp {
    width: 100%;
    background-color: #c56211;
    position: relative;
    display: flex;
}

#hanging-lamp .test {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    left: 90%;
}

#hanging-lamp .hanging-lamp {
    display: flex;
    justify-content: space-between;
}

#hanging-lamp .hanging-lamp .hanging-right {
    display: flex;
    background-color: white;
    width: 65%;
}

#hanging-lamp .hanging-lamp .hanging-right .description-right {
    position: relative;
}

#hanging-lamp .hanging-lamp .hanging-right .description-right h1 {
    font-size: 40px;
    margin-top: 50px;
    color: #c56211;
}

#hanging-lamp .hanging-lamp .hanging-right .description-right p {
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;
}

#hanging-lamp .hanging-lamp .hanging-right .description-right a {
    text-decoration: none;
    background-color: #ce230d;
    padding: 10px 15px;
    color: #fff;
    position: absolute;
    left: 20px;
}

#hanging-lamp .hanging-lamp .hanging-right img {
    width: 500px;
    height: 300px;
}

#hanging-lamp .hanging-lamp .hanging-left {
    display: flex;
    align-items: center;
    text-align: center;
    width: 35%;
}

#hanging-lamp .hanging-lamp .hanging-left .desctiption-left {
    width: 100%;
}

#hanging-lamp .hanging-lamp .hanging-left h1 {
    font-size: 40px;
    margin-top: 10px;
}

#hanging-lamp .hanging-lamp .hanging-left h2 {
    font-size: 40px;
    margin-top: 20px;
}

/* hanging-lamp-two */

#hanging-lamp-two {
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
}

#hanging-lamp-two .hanging-two-cover {
    background-image: url("../images/hang.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 36.6%;
}

#hanging-lamp-two .hanging-lamp-two {
    display: flex;
}

#hanging-lamp-two .hanging-lamp-two .hang-two-right {
    width: 65%;
    height: 600px;
}

#hanging-lamp-two .hanging-lamp-two .hang-two-left {
    width: 35%;
}

#hanging-lamp-two .hanging-lamp-two .hang-two-left ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#hanging-lamp-two .hanging-lamp-two .hang-two-left ul li {
    width: 50%;
    margin-bottom: 30px;
}

#hanging-lamp-two .hanging-lamp-two .hang-two-left ul li img {
    width: 200px;
    height: 260px;
}

#hanging-lamp-two .hanging-lamp-two .hang-two-left ul li h3 {
    margin: 10px;
}

/*Sofa*/
#sofa {
    width: 100%;
    background-color: #294152;
    position: relative;
    display: flex;
}

#sofa .sofa-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 98.6%;
    background-color: #fff;
}

#sofa .sofa {
    display: flex;
    justify-content: space-between;
}

#sofa .sofa .sofa-left {
    display: flex;
    background-color: white;
    width: 65%;
    justify-content: space-between;
}

#sofa .sofa .sofa-left .description-right {
    position: relative;
    padding: 20px 40px;
}

#sofa .sofa .sofa-left .description-right h1 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#sofa .sofa .sofa-left .description-right p {
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;
}

#sofa .sofa .sofa-left .description-right a {
    text-decoration: none;
    background-color: #ce230d;
    padding: 10px 15px;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 30px;
}

#sofa .sofa .sofa-left img {
    width: 350px;
    height: 250px;
}

#sofa .sofa .sofa-right {
    display: flex;
    align-items: center;
    text-align: center;
    width: 35%;
    color: #fff;
}

#sofa .sofa .sofa-right .desctiption-left {
    width: 100%;
}

#sofa .sofa .sofa-right h1 {
    font-size: 40px;
    margin-top: 10px;
}

#sofa .sofa .sofa-right h2 {
    font-size: 40px;
    margin-top: 20px;
}
